ai invoice generator.json
{
  "name": "ai invoice generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Invoice Generator Automation",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -928,
        -80
      ],
      "id": "741af987-ae74-4212-b8ca-730c564d59f2",
      "name": "Webhook",
      "webhookId": "83cc71f5-e235-41f6-8d29-1d570465cb84"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "513ba79e-8b5c-43a8-b01b-4abfb9cd461b",
              "name": "client_name",
              "value": "={{$json.body.client_name}}",
              "type": "string"
            },
            {
              "id": "f230987d-ba63-4b72-8e5f-89ffd14948a7",
              "name": "client_email",
              "value": "={{$json.body.client_email}}",
              "type": "string"
            },
            {
              "id": "d77b02b0-940c-44fc-b2c8-5ce6e3d92b65",
              "name": "invoice_number",
              "value": "={{$json.body.invoice_number}}",
              "type": "string"
            },
            {
              "id": "7841630e-eee6-48a5-b48c-f144286709a7",
              "name": "service",
              "value": "={{$json.body.service}}",
              "type": "string"
            },
            {
              "id": "57840c7a-52fa-45b1-88c6-6c2d88fe311f",
              "name": "amount",
              "value": "={{$json.body.amount}}",
              "type": "number"
            },
            {
              "id": "57a7c012-c58e-4226-9c6c-2b94d73f603e",
              "name": "due_date",
              "value": "={{$json.body.due_date}}",
              "type": "string"
            },
            {
              "id": "00e88bbd-00fb-437f-ae70-b42bcf62ecff",
              "name": "status",
              "value": "Pending",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        -80
      ],
      "id": "3fd1c2a4-8009-4146-aa7d-b642ff71bfa1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BzqLBGFhbntM11aZYYJJ7JvXK7RdhuNLTZ2x1NMj5rQ",
          "mode": "list",
          "cachedResultName": "ai invoice generator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BzqLBGFhbntM11aZYYJJ7JvXK7RdhuNLTZ2x1NMj5rQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BzqLBGFhbntM11aZYYJJ7JvXK7RdhuNLTZ2x1NMj5rQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "client_name": "={{$json.client_name}}",
            "client_email": "={{$json.client_email}}",
            "invoice_number": "={{$json.invoice_number}}",
            "service": "={{$json.service}}",
            "amount": "={{$json.amount}}",
            "due_date": "={{$json.due_date}}",
            "status": "={{$json.status}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_email",
              "displayName": "client_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service",
              "displayName": "service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "due_date",
              "displayName": "due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        -80
      ],
      "id": "9ee040fc-a4f8-4c0e-b6b1-ee38ba2953b7",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sWD4KHC1k9S5wwRu",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$json.client_email}}",
        "subject": "=Invoice {{$json.invoice_number}} - Freelance Workspace",
        "message": "=<!DOCTYPE html> <html> <body style=\"font-family:Arial;background:#f4f4f4;padding:30px;\">  <div style=\"max-width:650px;margin:auto;background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 5px 20px rgba(0,0,0,.15);\">  <div style=\"background:#2563eb;color:white;padding:25px;text-align:center;\">  <h1>Invoice</h1>  </div>  <div style=\"padding:30px;\">  <h2>Hello {{$json.client_name}},</h2>  <p>Thank you for choosing <b>Freelance Workspace</b>.</p>  <p>Your invoice details are below.</p>  <hr>  <p><b>Invoice Number:</b> {{$json.invoice_number}}</p>  <p><b>Service:</b> {{$json.service}}</p>  <p><b>Amount:</b> ${{$json.amount}}</p>  <p><b>Due Date:</b> {{$json.due_date}}</p>  <p><b>Status:</b> {{$json.status}}</p>  <hr>  <h2 style=\"color:#2563eb;\"> Total: ${{$json.amount}} </h2>  <p>Please complete the payment before the due date.</p>  <br>  <p>Thank you ❤️</p>  <p><b>Freelance Workspace</b></p>  </div>  </div>  </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -352,
        -80
      ],
      "id": "a5c21c2a-cf49-44ee-b753-e493e6b3fa6f",
      "name": "Send a message",
      "webhookId": "8a0ee50e-8fd6-42c7-8a87-c662d07014f0",
      "credentials": {
        "gmailOAuth2": {
          "id": "9uhrwXnVkBNhyH0V",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "82b1121a-097d-4fa9-a232-f4a3c8962208",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ff4635bbb46073c9a57b1ce3c5c896c722667a7041b109d3aa1c65ac9c50a10"
  },
  "nodeGroups": [],
  "id": "o5YndaKrJ3TsVfPt",
  "tags": []
}